$color-pure-black: #000000;
$color-black: #4c4743;
$color-white: #ffffff;
$color-green: #09E5AB;
$color-gray: #ededed;
$color-golden: #f1a501;
$color-marquee: #df6951;
$color-teal: #006380;
$color-orange: #f15a2b;

$text-color-default: #322c28;
$text-color-black: #000000;
$text-color-icon: #4FD1C5;
$text-color-green: #48BB78;
$text-color-darkblue: #0e1566;
$text-color-date: #d2d1e4;
$text-color-purple: #5855d6;
$text-color-red: #E53E3E;
$text-color-secondary: #A0AEC0;
$text-color-black-shade: #2D3748;
$text-color-blackish-gray: #5e6282;
$text-color-red-orange: #df6951;

$text-color-completion: #4FD1C5;
$border-color-gray-dark: #707070;
$border-color-dove-gray: #E2E8F0;
$border-color-black: #000000;